  .NavBarWrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--background-secondary);
  }
  
  .NavBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: min(max(70px, 6vw), 100px);
    padding: 0px;
    margin: 0px;
    font-size: min(max(35px, 3vw), 50px);
    background-color: var(--background-secondary);
  }
  
  .MenuSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 0.1;
    justify-content: space-around;
  }
  
  .NavBarTitle,
  .MenuButton {
    display: flex;
    align-items: center;
    margin: 0px 5px 0px 5px;
  }
  
  .HeaderIcon {
    margin: auto;
    text-align: center;
    padding: 0;
    color: var(--font-color-secondary);
  }
  
  .HeaderIcon:hover {
    cursor: pointer;
  }
  
  .MenuIcon {
    font-size: max(40px, 'inherit');
    padding-right: 0px;
    margin-right: 0px;
  }
  
  .NavBarTitleText {
    margin: auto;
    flex-grow: 1;
    color: var(--font-color-secondary);
    font-family: var(--font-family-title);
  }
  
  .MenuCollapse {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
  }
  
  .CollapseIconBar {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    margin: 20px;
    margin-top: 0;
    background-color: var(--background-tertiary);
  }
  
  .ThemeToggle {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--background-secondary);
    padding-inline: 20px;
    padding-block: 2px;
    color: var(--font-color-secondary);
  }
  
  .ThemeIcon {
    transition: all 1s;
    margin-left: 10px;
    font-size: 25px;
  }