  .NavBarWrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--background-secondary);
    background-color: var(--background-secondary);
  }

  /* Navbar Styling */
  .Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .Navbar h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .NavBarTitleText {
    margin: auto;
    flex-grow: 1;
    color: var(--font-color-secondary);
    font-family: var(--font-family-title);
  }

  
  .ThemeToggle {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--background-secondary);
    padding-inline: 20px;
    padding-block: 2px;
    color: var(--font-color-secondary);
  }
  
  .ThemeIcon {
    transition: all 1s;
    margin-left: 10px;
    font-size: 25px;
  }